/* Atom One Dark with Enhanced Purple Accent for Checker Plus for Gmail */

/* General Text Color */
body,
.page,
#openEmailHeader,
#replyArea,
#titleLabel,
.accountTitle,
.unreadCount,
.unread,
.labelName,
body.popup app-toolbar,
.ui-datepicker,
thead,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-empty,
.fc-unthemed .fc-row,
.fc-unthemed hr,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead,
.fc-unthemed table,
.fc-view,
textarea,
.mail,
.snippet {
    color: #abb2bf !important;
}

/* Background color for various elements */
.mail,
body.popup app-toolbar:not(.accountHeader),
#betaCalendar .fc-month-view .timedEvent .fc-content:hover .fc-title,
app-header,
.fc-unthemed .fc-list-item:hover td,
.label,
.fc-body,
.page,
#openEmailHeader,
#replyArea,
#skinsDialog .addButton,
#betaCalendar .fc-basic-view .fc-week-number,
#accountAvatars,
.accountHeader,
#betaCalendar .fc-list-heading td,
app-drawer-layout,
#mainContent,
#betaCalendar.highlightWeekends .fc-sat,
#betaCalendar.highlightWeekends .fc-sun,
.fc-unthemed .fc-list-empty,
.fc-day-top,
body {
    background-color: #282c34 !important;
}

/* Open email text color */
.page {
    color: #abb2bf !important;
}

/* Reply area background color */
#replyArea,
#replyArea:hover {
    background-color: #282c34 !important;
    border: none;
}

/* Various elements background color */
paper-item:hover,
paper-icon-item:hover,
textarea,
.ui-datepicker,
#skinsDialog .addButton,
#betaCalendar .fc-basic-view .fc-week-number,
#accountAvatars,
.fc-unthemed .fc-list-heading td {
    background-color: #2c313a !important;
}

/* Sidebar calendar text color */
.ui-state-default,
.ui-state-default:hover {
    color: #abb2bf !important;
}

/* Today highlight background color */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
#betaCalendar .fc-today .fc-day-number {
    background-color: #bd93f9 !important;
}

.ui-state-highlight:hover,
.ui-widget-content .ui-state-highlight:hover,
.ui-widget-header .ui-state-highlight:hover {
    background-color: #6272a4 !important;
}

/* Today highlight and lines separators color */
#betaCalendar th.fc-today,
.agendaDay.today .agendaDateWrapper,
textarea,
textarea:focus,
.mail,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed hr,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead,
.fc-unthemed table,
.fc-view {
    border-color: #44475a !important;
    outline-color: #44475a;
}

/* Lines and separators background color */
.separator,
.fc-unthemed .fc-divider {
    background-color: #44475a;
}

/* Links color */
a,
a:visited {
    color: #61afef;
}

/* Search bar text color */
#searchInputWrapper #searchInput {
    color: #abb2bf !important;
}

/* Adjusted Purple Accent with Lighter Text Color for paper-icon-button */
paper-icon-button {
    color: #bd93f9 !important;
    --iron-icon_-_opacity: 0.7;
}

/* Adjusted Purple Accent with Lighter Text Color for paper-button */
.paper-button {
    --paper-button-raised-keyboard-focus: {
        background-color: #bd93f9 !important;
        color: #ffffff !important;
    };
}

/* Adjusted Purple Accent with Lighter Text Color for okDialog */
.okDialog {
    color: #abb2bf !important;
}

/* OK button */
paper-button[raised].colored {
    background-color: #bd93f9 !important;
    color: #ffffff !important;
    font-weight: 700;
}
