/* Atom One Dark with Enhanced Purple Accent for Checker Plus for Gmail */
body {
    color: #abb2bf !important;
}

/* Background color */
.mail,
body.popup app-toolbar:not(.accountHeader),
#betaCalendar .fc-month-view .timedEvent .fc-content:hover .fc-title,
app-header,
.fc-unthemed .fc-list-item:hover td,
.label {
    background-color: #282c34 !important;
}

.fc-body {
    background-color: #21252b !important;
}

/* Open email */
.page {
    background-color: #21252b;
    color: #abb2bf;
}

#openEmailHeader {
    color: #abb2bf;
}

#replyArea,
#replyArea:hover {
    background-color: #282c34 !important;
    border: none;
    color: #abb2bf;
}

/* Various elements */
paper-item:hover,
paper-icon-item:hover,
textarea,
.ui-datepicker,
#skinsDialog .addButton,
#betaCalendar .fc-basic-view .fc-week-number,
#accountAvatars {
    background-color: #2c313a !important;
}

.accountHeader {
    background-color: #21252b !important;
}

#accountAvatars {
    height: 100vh;
    margin-top: 0;
    padding-top: 2vh;
}

.fc-unthemed .fc-list-heading td {
    background-color: #44475a;
}

app-drawer-layout,
#mainContent {
    background-color: #21252b !important;
}

#betaCalendar.highlightWeekends .fc-sat,
#betaCalendar.highlightWeekends .fc-sun {
    background-color: #444a;
}

.fc-unthemed .fc-list-empty,
.fc-day-top {
    background-color: #0000 !important;
}

body {
    background-color: #000;
}

/* Scroll bar */
::-webkit-scrollbar,
::-webkit-scrollbar-corner {
    background-color: #2c313a;
}

/* Text color, boldness, and opacity */
table {
    color: #abb2bf;
}

/* Labels and titles */
#titleLabel,
.accountTitle,
.unreadCount,
.unread,
.labelName {
    color: #abb2bf !important;
}

body.popup app-toolbar,
.ui-datepicker,
thead,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-empty {
    color: #abb2bf !important;
    font-weight: 500;
}

/* Day and time display */
.dayOfYear,
#betaCalendar .fc-month-view .timedEvent .fc-time,
#betaCalendar .fc-month-view .timedEvent .fc-title,
#betaCalendar .fc-custom-view .timedEvent .fc-time,
#betaCalendar .fc-custom-view .timedEvent .fc-title,
#betaCalendar .fc-dayGridMonth-view .timedEvent .fc-time,
#betaCalendar .fc-dayGridMonth-view .timedEvent .fc-title,
paper-item:hover,
paper-icon-item:hover,
textarea,
#mainContent,
app-header,
#betaCalendar.highlightPastDays .fc-event.pastEvent .fc-content .fc-time,
#betaCalendar.highlightPastDays .fc-event.pastEvent .fc-content .fc-title,
#betaCalendar .fc-list-item {
    color: #abb2bf !important;
    font-weight: 500;
}

html:not(.searchInputVisible) #inboxSection app-header-layout app-toolbar paper-icon-button:not(#menu),
.snippet {
    color: #abb2bf !important;
}

#betaCalendar.highlightPastDays .fc-past,
#betaCalendar.highlightPastDays .pastEvent .eventColorIndicator,
#betaCalendar.highlightPastDays .pastEvent .fc-time,
#betaCalendar.highlightPastDays .pastEvent .fc-content .fc-title {
    opacity: 0.5 !important;
}

/* Sidebar calendar */
.ui-state-default {
    color: #abb2bf !important;
}

.ui-state-default:hover {
    color: #abb2bf !important;
}

/* Today highlight */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight,
#betaCalendar .fc-today .fc-day-number {
    background-color: #bd93f9 !important;
}

.ui-state-highlight:hover,
.ui-widget-content .ui-state-highlight:hover,
.ui-widget-header .ui-state-highlight:hover {
    background-color: #6272a4 !important;
}

#betaCalendar th.fc-today,
.agendaDay.today .agendaDateWrapper {
    color: #6272a4 !important;
}

/* Lines and separators */
textarea,
textarea:focus,
.mail,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed hr,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead,
.fc-unthemed table,
.fc-view {
    border-color: #44475a !important;
    outline-color: #44475a;
}

.separator,
.fc-unthemed .fc-divider {
    background-color: #44475a;
}

/* Colors */
paper-icon-button,
paper-dialog .buttons paper-icon-button {
    color: #bd93f9;
    --iron-icon_-_opacity: 0.7;
}

.labelName {
    background-color: #98c379;
}

/* OK button */
paper-button[raised].colored {
    background-color: #bd93f9 !important;
    color: #ffffff !important;
    /* Changed from #abb2bf to #ffffff */
    font-weight: 700;
}

#clickedEventDialog {
    color: #abb2bf !important;
}

.fc-popover {
    background-color: #282c34 !important;
}

/* Links */
a,
a:visited {
    color: #61afef;
}

/* Search bar */
#searchInputWrapper #searchInput {
    color: #abb2bf !important;
}

/* Adjusted Purple Accent with Lighter Text Color for paper-icon-button */
paper-icon-button {
    color: #abb2bf !important;
    /* Adjusted text color */
}

/* Adjusted Purple Accent with Lighter Text Color for paper-button */
.paper-button {
    --paper-button-raised-keyboard-focus: {
        background-color: #bd93f9 !important;
        color: #abb2bf !important;
        /* Adjusted text color */
    }

    ;
}

/* Adjusted Purple Accent with Lighter Text Color for okDialog */
.okDialog {
    color: #abb2bf !important;
    /* Adjusted text color */
}